@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --font-family: "Manrope", sans-serif;
    
}
html{
    background-color: var(--Dark-Blue);
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;

}
body{
    background-color: var(--Dark-Blue);
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 800px;

}
main{
    background-color: var(--Dark-Grayish-Blue);
 
}
p{
    color:var(--Neon-Green);
    letter-spacing: 8px;
    font-weight: 800;
}
h1{
    color: var(--Light-Cyan);
}